.pagination{
    position: absolute;
    bottom: 32px;
    right: 32px;
    display: flex;
    justify-content: flex-end;
    li {
        border: 1px solid $primary;
        border-collapse: collapse;
        border-spacing: 0;
    }
    .page-number a {
        color: $dark;
        &:hover{
            color: $white;
            background: $primary;
            border: 1px solid $primary;
        }
    }
}
