$primary: #198754;
$primary-hover: #40ad7a;
$bgColor: #F8F9FA;
$danger: #DC3545;
$danger-hover: #da5462;
$dark: #000000;
$dark-secondary: #212529;
$light: #6C757D;
$white: #FFFFFF;
$white-secondary: #CED4DA;

$font-size-base: 16px;
$font-size-ssm: $font-size-base * 0.75; // 12
$font-size-sm: $font-size-base * 0.875; // 14
$font-size-md: $font-size-base * 1.25; // 20
$font-size-lg: $font-size-base * 1.5; // 24